@import 'base/_variables.scss';
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
  }
  @media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
#hero{
  background-image: url('../images/ALHE-bkgd-img-April19-edited.jpg');
  text-align: center;
  padding: 25vh 0px;
  color: white;
}
p{
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
section{
  padding-top: 5rem;
  padding-bottom: 5rem;
  & h3:first-child{
    text-align: center;
  }
}
#mission, #officers{
  background-color: $color-lightgrey;
  text-align: center;
}
#membership{
  img{
    max-width: 15rem;
    display: block;
    margin: auto;
  }
  h4{
    text-align: center;
  }
}
#officers{
  .grid{
    grid-gap: 8rem;
    margin-top: 5rem;
  }
}
#initiatives{
  & > p{
    text-align: center;
  }
  h4{
    text-align: left;
  }
  .grid{
    margin-top: 10rem;
  }
}
#contact{
  background-color: $color-lightgrey;
  h3{
    margin-bottom: 5rem;
  }
}
.card{
  background: white;
  border-radius: $borderRadius;
  overflow: hidden;
  padding: 1.5rem;
  img{
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-top: -1.5rem;
  }
  p{
    margin: 0px;
    opacity: 0.5;
  }
}
#accordion{
    i{
      position: absolute;
      transform: translate( -2rem , 0 );
      right: 0;
      &:before , &:after{
        content: "";
        position: absolute;
        background-color: $color-primary;
        width: 0.4rem;
        height: 1.2rem;
        margin-top: 1.3rem;
        transition: all 0.25s ease-in-out;
      }
      &:before{
        transform: translate( -4px , 0 ) rotate( 45deg );
      }
      &:after{
        transform: translate( 2px , 0 ) rotate( -45deg );
      }
    }
    .acc-panel{
      position: relative;
    }
    .active i{
              &:before{
              transform: translate( 2px , 0 ) rotate( 45deg );
              }
              &:after{
                transform: translate( -4px , 0 ) rotate( -45deg );
              }
            }
            .acc-header{
                font-size: 2rem;
                text-align: left;
                margin: 0;
                cursor: pointer;
                border: 1px solid $color-grey;
                border-radius: $borderRadius;
                padding: 1rem;
              }
}
footer{
  background-color: #232827;
  color: white;
  p{
    margin: 0px;
  }
    padding-top: 3rem;
    padding-bottom: 3rem;
}
