/* Meta
––––––––––––––––––––––––––––––––––––––––––––––––––
Stratus.css version 0.2
Custom boilerplace CSS framework built with sass and based on Skeleton
Developed by Matthew McAdams under the MIT License
stratus.skykit.io
*/
@import "base/_variables.scss";
@import "base/_typography.scss";
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: #{ $doc-font-size + 'px'};
}

body {
  margin: 0px;
  color: $font-color;
}

@import "base/_grid.scss";
@import "base/_forms.scss";
@import "base/_buttons.scss";
@import "base/_lists.scss";
@import "base/_tables.scss";

/*Semantic html
–––––––––––––––––––––––––––––––––––––––––––––––––– */
//Links
a {
  color: $link-color;
  &:hover{
    color: $link-hover-color;
  }
  &:visited{
    color: $link-visited-color;
  }
  &[href$=".pdf"]:after{
    @if $icon-font != none{
      font-family: $icon-font;
      font-size: 0.8em;
    }
    content: ' #{$pdf-icon}';
  }
}

//Basic Styles
strong, b{
  font-weight: bold;
}
em, i{
  line-height: 0;
  vertical-align: baseline;
  font-style: italic;
}
del, s{
  text-decoration: line-through;
}
mark {
  background: $mark-color;
  @include text-contrast($mark-color);
  padding: $padding-inline;
}

//Other
img{
  width: 100%;
}
abbr {
  @extend .uppercase;
  &[title]{
    border-bottom: 1px dotted;
  }
}
dfn, cite {
  font-style: italic;
}
blockquote{
  background-color: $color-lightgrey;
  border-left: 3px solid $color-primary;
  position: relative;
  margin: auto;
  @include font-size($modular-scale-m);
  p{
    display: inline-block;
    margin-left: 3rem;
    box-sizing: border-box;
    font-style: italic;
    padding: 0px 1rem;
    &.quotes:before{
      font-family: $icon-font;
      display: block;
      content: '';
      margin-left: -1em;
    }
    &.quotes:after{
      font-family: $icon-font;
      display: block;
      text-align: right;
      margin-right: -1em;
      content: '';
    }
  }
}
q{
  &:before{
    font-weight: bold;
  }
  &:after{
    font-weight: bold;
  }
}

//Subscript and Superscript
sub, sup{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub{
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

//Code Styles
code {
  padding: $padding-inline;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: $color-lightgrey;
  border: $borderWidth solid $color-grey;
  border-radius: $borderRadius;
}
pre > code {
  display: block;
  padding: $padding-s;
  white-space: pre;
  width: 100%;
}
kbd{
  background-color: $color-dark;
  @include text-contrast($color-dark);
  padding: $padding-inline;
  border-radius: $borderRadius;
}

//Formatting
br {
  margin-bottom: 0;
  height: 0px;
}
hr {
  margin-top: 0;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: $borderWidth solid $borderColor-Light;
}
small {
  @include line-height(.5);
  font-size: 70%;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button {
  margin-bottom: 1rem;
}
fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}

//Responsive Embed
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Text Alignment
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}
