@charset "UTF-8";
/* Meta
––––––––––––––––––––––––––––––––––––––––––––––––––
Stratus.css version 0.2
Custom boilerplace CSS framework built with sass and based on Skeleton
Developed by Matthew McAdams under the MIT License
stratus.skykit.io
*/
* {
  line-height: 1.6; }

p {
  margin-bottom: 1.6em; }

* {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

code, pre, kbd {
  font-family: monospace; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* mixins
   ========================================================================== */
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 16px;
  line-height: 1.6em;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Headings
   ========================================================================== */
h1 {
  font-size: 43px;
  font-size: 4.3rem;
  line-height: 32px;
  line-height: 3.2em;
  margin-top: 32px;
  margin-bottom: 32px;
  letter-spacing: -0.03em; }

h2 {
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 24px;
  line-height: 2.4em;
  margin-top: 32px;
  margin-bottom: 32px;
  letter-spacing: -0.03em; }

h3 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 16px;
  line-height: 1.6em;
  margin-top: 16px;
  margin-bottom: 16px;
  letter-spacing: -0.03em; }

h4 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 11.2px;
  line-height: 1.12em;
  margin-top: 8px;
  margin-bottom: 16px;
  letter-spacing: -0.03em; }

h5 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 8px;
  line-height: 0.8em;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: -0.03em; }

h6 {
  font-size: 16.875px;
  font-size: 1.6875rem;
  line-height: 8px;
  line-height: 0.8em;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: -0.03em; }

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 0px; }

h5 + h6 {
  margin-top: 0px; }

h1, h2, h3, h4, h5, h6 {
  color: #232827; }

/* Body
   ========================================================================== */
.indent p + p {
  margin-top: -16px;
  text-indent: 16px;
  text-indent: 1.6em; }

/* Utility
   ========================================================================== */
.uppercase, .button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"], abbr {
  letter-spacing: .1em;
  text-transform: uppercase; }

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 10px; }

body {
  margin: 0px;
  color: black; }

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;
  box-sizing: border-box; }

.container.l {
  width: 100%;
  max-width: 1000px; }

.container.m {
  width: 100%;
  max-width: 1000px; }

.container.s {
  width: 100%;
  max-width: 1000px; }

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(12, 1fr); }

.ie11 .grid > * {
  min-width: min-content;
  width: calc((100% / 5) - $grid-column-gap); }

.col-1 {
  grid-template-columns: repeat(1, 1fr); }

.col-2 {
  grid-template-columns: repeat(2, 1fr); }

.col-3 {
  grid-template-columns: repeat(3, 1fr); }

.col-4 {
  grid-template-columns: repeat(4, 1fr); }

.col-5 {
  grid-template-columns: repeat(5, 1fr); }

.col-6 {
  grid-template-columns: repeat(6, 1fr); }

.span-2 {
  grid-column: span 2; }

.span-3 {
  grid-column: span 3; }

.span-4 {
  grid-column: span 4; }

.span-5 {
  grid-column: span 5; }

.span-6 {
  grid-column: span 6; }

.span-7 {
  grid-column: span 7; }

.span-8 {
  grid-column: span 8; }

.span-9 {
  grid-column: span 9; }

.span-10 {
  grid-column: span 10; }

.span-11 {
  grid-column: span 11; }

.span-12 {
  grid-column: span 12; }

@media all and (min-width: 480px) {
  .col-1-m {
    grid-template-columns: repeat(1, 1fr); }
  .col-2-m {
    grid-template-columns: repeat(2, 1fr); }
  .col-3-m {
    grid-template-columns: repeat(3, 1fr); }
  .col-4-m {
    grid-template-columns: repeat(4, 1fr); }
  .col-5-m {
    grid-template-columns: repeat(5, 1fr); }
  .col-6-m {
    grid-template-columns: repeat(6, 1fr); }
  .span-2-m {
    grid-column: span 2; }
  .span-3-m {
    grid-column: span 3; }
  .span-4-m {
    grid-column: span 4; }
  .span-5-m {
    grid-column: span 5; }
  .span-6-m {
    grid-column: span 6; }
  .span-7-m {
    grid-column: span 7; }
  .span-8-m {
    grid-column: span 8; }
  .span-9-m {
    grid-column: span 9; }
  .span-10-m {
    grid-column: span 10; }
  .span-11-m {
    grid-column: span 11; }
  .span-12-m {
    grid-column: span 12; } }

@media all and (min-width: 839px) {
  .col-1-l {
    grid-template-columns: repeat(1, 1fr); }
  .col-2-l {
    grid-template-columns: repeat(2, 1fr); }
  .col-3-l {
    grid-template-columns: repeat(3, 1fr); }
  .col-4-l {
    grid-template-columns: repeat(4, 1fr); }
  .col-5-l {
    grid-template-columns: repeat(5, 1fr); }
  .col-6-l {
    grid-template-columns: repeat(6, 1fr); }
  .span-2-l {
    grid-column: span 2; }
  .span-3-l {
    grid-column: span 3; }
  .span-4-l {
    grid-column: span 4; }
  .span-5-l {
    grid-column: span 5; }
  .span-6-l {
    grid-column: span 6; }
  .span-7-l {
    grid-column: span 7; }
  .span-8-l {
    grid-column: span 8; }
  .span-9-l {
    grid-column: span 9; }
  .span-10-l {
    grid-column: span 10; }
  .span-11-l {
    grid-column: span 11; }
  .span-12-l {
    grid-column: span 12; } }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  font-size: 14.375px;
  font-size: 1.4375rem;
  color: black;
  padding: 0.5rem 0.7rem;
  border: 1px solid #D7D9CD;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  outline: 0; }
  input[type="email"]::placeholder,
  input[type="number"]::placeholder,
  input[type="search"]::placeholder,
  input[type="text"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="url"]::placeholder,
  input[type="password"]::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: black;
    opacity: 0.5; }
  input[type="email"]:active, input[type="email"]:focus,
  input[type="number"]:active,
  input[type="number"]:focus,
  input[type="search"]:active,
  input[type="search"]:focus,
  input[type="text"]:active,
  input[type="text"]:focus,
  input[type="tel"]:active,
  input[type="tel"]:focus,
  input[type="url"]:active,
  input[type="url"]:focus,
  input[type="password"]:active,
  input[type="password"]:focus,
  textarea:active,
  textarea:focus,
  select:active,
  select:focus {
    border: 1px solid #D7D9CD;
    outline: 0; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

option:first-child {
  display: none; }

textarea {
  min-height: 65px; }

.checkbox, .radio {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0; }
  .checkbox input[type='radio'], .checkbox input[type='checkbox'], .radio input[type='radio'], .radio input[type='checkbox'] {
    opacity: 0;
    display: none; }
  .checkbox label, .radio label {
    font-weight: normal;
    display: inline-block;
    position: relative;
    cursor: pointer; }
    .checkbox label:before, .radio label:before {
      margin-right: 0.5em;
      display: inline-block;
      position: relative;
      font-family: "stratus";
      top: 0.05em; }

.checkbox input[type='checkbox'] + label:before {
  content: ""; }

.checkbox input[type='checkbox']:checked + label:before {
  color: #D7D9CD;
  content: ""; }

.radio input[type='radio'] + label:before {
  content: ""; }

.radio input[type='radio']:checked + label:before {
  color: #D7D9CD;
  content: ""; }

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6em;
  margin-top: 16px;
  padding: 1rem 1.5rem;
  display: inline-block;
  color: #232827;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #232827;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:focus,
  button:hover,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:focus {
    color: #6a7a77;
    border-color: #6a7a77;
    outline: 0; }
  .button.btn-primary,
  button.btn-primary,
  input[type="submit"].btn-primary,
  input[type="reset"].btn-primary,
  input[type="button"].btn-primary {
    color: #FFF;
    background-color: #D7D9CD;
    border-color: #D7D9CD; }
    .button.btn-primary:hover, .button.btn-primary:focus,
    button.btn-primary:hover,
    button.btn-primary:focus,
    input[type="submit"].btn-primary:hover,
    input[type="submit"].btn-primary:focus,
    input[type="reset"].btn-primary:hover,
    input[type="reset"].btn-primary:focus,
    input[type="button"].btn-primary:hover,
    input[type="button"].btn-primary:focus {
      color: #FFF;
      background-color: #c0c3b0;
      border-color: #c0c3b0; }
  .button.warning,
  button.warning,
  input[type="submit"].warning,
  input[type="reset"].warning,
  input[type="button"].warning {
    color: #FFF;
    background-color: #e85600;
    border-color: #e85600; }
    .button.warning:hover, .button.warning:focus,
    button.warning:hover,
    button.warning:focus,
    input[type="submit"].warning:hover,
    input[type="submit"].warning:focus,
    input[type="reset"].warning:hover,
    input[type="reset"].warning:focus,
    input[type="button"].warning:hover,
    input[type="button"].warning:focus {
      color: #FFF;
      background-color: #cf4d00;
      border-color: #cf4d00; }
  .button.caution,
  button.caution,
  input[type="submit"].caution,
  input[type="reset"].caution,
  input[type="button"].caution {
    color: #FFF;
    background-color: #ffb700;
    border-color: #ffb700; }
    .button.caution:hover, .button.caution:focus,
    button.caution:hover,
    button.caution:focus,
    input[type="submit"].caution:hover,
    input[type="submit"].caution:focus,
    input[type="reset"].caution:hover,
    input[type="reset"].caution:focus,
    input[type="button"].caution:hover,
    input[type="button"].caution:focus {
      color: #FFF;
      background-color: #f0ac00;
      border-color: #f0ac00; }
  .button.success,
  button.success,
  input[type="submit"].success,
  input[type="reset"].success,
  input[type="button"].success {
    color: #FFF;
    background-color: #32b643;
    border-color: #32b643; }
    .button.success:hover, .button.success:focus,
    button.success:hover,
    button.success:focus,
    input[type="submit"].success:hover,
    input[type="submit"].success:focus,
    input[type="reset"].success:hover,
    input[type="reset"].success:focus,
    input[type="button"].success:hover,
    input[type="button"].success:focus {
      color: #FFF;
      background-color: #2da23c;
      border-color: #2da23c; }
  .button.btn-full,
  button.btn-full,
  input[type="submit"].btn-full,
  input[type="reset"].btn-full,
  input[type="button"].btn-full {
    display: block; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul, ol {
  list-style: none;
  padding-left: 0px;
  margin: 1rem 0px 0px 2.5rem; }

*:not(li) > ul, *:not(li) > ol {
  margin-top: 0px;
  margin-left: 1rem; }

ul > li, ol > li {
  margin-bottom: 1rem; }

ul > li {
  list-style: disc inside; }
  ul > li ul > li {
    list-style: circle inside; }
    ul > li ul > li ul > li {
      list-style: square inside; }

ol > li {
  list-style: decimal inside; }
  ol > li ol > li {
    list-style: upper-latin inside; }
    ol > li ol > li ol > li {
      list-style: lower-latin inside; }

.list-inside {
  list-style-position: inside !important; }

dl {
  margin: 1rem 0px; }

dt {
  font-weight: bold; }

dd {
  margin: 0px;
  margin-left: 1em;
  margin-bottom: 1rem; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse; }

td,
th {
  text-align: left;
  border-bottom: 1px solid #D7D9CD;
  padding: 1rem 1.5rem; }

td:first-child,
th:first-child {
  padding-left: 0; }

td:last-child,
th:last-child {
  padding-right: 0; }

/*Semantic html
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #D7D9CD; }
  a:hover {
    color: #b4b8a2; }
  a:visited {
    color: #c0c3b0; }
  a[href$=".pdf"]:after {
    font-family: "stratus";
    font-size: 0.8em;
    content: " "; }

strong, b {
  font-weight: bold; }

em, i {
  line-height: 0;
  vertical-align: baseline;
  font-style: italic; }

del, s {
  text-decoration: line-through; }

mark {
  background: #D7D9CD;
  color: black;
  padding: 0.2rem 0.5rem; }

img {
  width: 100%; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn, cite {
  font-style: italic; }

blockquote {
  background-color: #ECECEB;
  border-left: 3px solid #D7D9CD;
  position: relative;
  margin: auto;
  font-size: 20px;
  font-size: 2rem; }
  blockquote p {
    display: inline-block;
    margin-left: 3rem;
    box-sizing: border-box;
    font-style: italic;
    padding: 0px 1rem; }
    blockquote p.quotes:before {
      font-family: "stratus";
      display: block;
      content: '';
      margin-left: -1em; }
    blockquote p.quotes:after {
      font-family: "stratus";
      display: block;
      text-align: right;
      margin-right: -1em;
      content: ''; }

q:before {
  font-weight: bold; }

q:after {
  font-weight: bold; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #ECECEB;
  border: 1px solid #D7D9CD;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 0.5rem 0.7rem;
  white-space: pre;
  width: 100%; }

kbd {
  background-color: #232827;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 4px; }

br {
  margin-bottom: 0;
  height: 0px; }

hr {
  margin-top: 0;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #D7D9CD; }

small {
  line-height: 8px;
  line-height: 0.8em;
  font-size: 70%; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button {
  margin-bottom: 1rem; }

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.alignLeft {
  text-align: left; }

.alignCenter {
  text-align: center; }

.alignRight {
  text-align: right; }
